@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


body{
    margin: 0px;
    font-family: sans-serif, Arial;
}

#page{
    width: 80%;
    max-width: 440px;
    min-width: 330px;
    justify-self: center;
}

#title{
    display: flex;
    gap: 5px;
    align-items: flex-end;
    justify-self: center;
    font-family: "Amatic SC", sans-serif, Arial;
}

#icon{
    max-width: 5em;
    margin: 16px 0px 16px 0px;
}

#title h1{
    font-size: 3.5em;
    margin: 16px 0px 10px 0px;
}

#search-form{
    border: 2px solid black;
    border-radius: 5px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 2.0em;
    align-content: center;
    width: 100%;
}

#search{
    grid-area: 1/1/2/2;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
    border: none;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    border-right: 1px solid black;
}

#sumbit{
    grid-area: 1/2/2/3;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
    background-image: url(images/search.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    margin: 5px;
}

#search:focus{
    outline: none;
}

main{
    width: 100%;
}

.Recipe-card{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.Recipe-card img{
    box-sizing: border-box;
    width: 100%;
    object-fit: cover;
    justify-self: center;
    padding: 10px;
    padding-bottom: 4px;
}

.tag{
    background-color: #EFEFEF;
    width:fit-content;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.details{
    padding: 10px;
    padding-top: 0px;
}

.details h2{
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #2396E0;
    font-family: "Amatic SC", sans-serif, Arial;
}

.social{
    justify-self: center;
    width: 6em;
    margin-top: 15px;
}

.social img{
    max-width: 1.5em;
}

.credit{
    display:block;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
}

.description {
    display: none;
}

@media screen and (min-width: 900px) {
    #page{
        min-width: 800px;
    }

    .Recipe-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .description{
        display: block;
        font-size: 14px;
    }

    .tag{
        margin-top: 10px;
    }

    .Recipe-card img{
        padding-bottom: 10px;
    }
}