@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --bgcolor:#2A81E2;
    --pagecolor:#CCCCCC;
    --font:Quicksand, Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--bgcolor);
    color:white;
    font-family:var(--font);
}

header{
    text-align: center;
}

h3{
    margin-bottom: 15px;
}

main{
    padding-top: 8px;
    text-align: center;
    background-color: var(--pagecolor);
    color: black;
}

h2{
    margin-top: 8px;
}

.pictures{
    max-width: 1200px;
}

img {
    justify-self: center;
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0px 0px 10px black;
    margin: 10px 10px;
}

footer{
    text-align:center;
    padding: 8px 0px 8px 0px;
}

nav{
    display: none;
    text-align:center;
    margin-bottom: 8px;
}

a{
    color: white;
    margin: 5px 8px 5px 8px;
}

h1{
    margin-top: 0.45em;
}

@media screen and (min-width: 700px) {
    .pictures {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .menu {
        display: none;
    }
    nav {
        display:block;
    }
}

@media screen and (min-width: 1000px) {
    .pictures {
        grid-template-columns: 1fr 1fr 1fr;
    }
}