@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --bgcolor:#2A81E2;
    --pagecolor:#CCCCCC;
    --buttoncolorhovor:#6bb5e6;
    --buttoncolorselect:#b0dde7;
    --font:Quicksand, Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--bgcolor);
    color:white;
    font-family:var(--font);
    margin: 0px;
}

header{
    text-align: center;
}

h3{
    margin-bottom: 15px;
}

main{
    padding-top: 8px;
    text-align: center;
    background-color: var(--pagecolor);
    color: black;
}

h2{
    margin-top: 8px;
}

.pictures{
    max-width: 1200px;
}

img {
    justify-self: center;
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0px 0px 10px black;
    margin: 10px 10px;
}

footer{
    text-align:center;
    padding: 8px 0px 8px 0px;
}

.menu-btn:hover {
    text-decoration: underline;
}

nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 8px;
}

a{
    color: white;
    margin: 5px 8px 5px 8px;
}

h1{
    margin-top: 0.45em;
}

dialog {
    background-color: rgba(0.2,0.2,0.2,0.5);
    width: 105%;
    height: 105%;
    border: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    max-width: none;
    max-height: none;
}

.modal-img {
    justify-self: center;
    align-self: center;
    display: block;
    width: 60%;
    height: auto;
    border: 4px solid white;
    box-shadow: 0px 0px 10px black;
    margin-top: 20px;
}

.close-btn {
    position: absolute;
    top: 5%;
    left: 85%;
    color: var(--bgcolor);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    font-family:var(--font);
    font-weight: bold;
}

.close-btn:hover {
    color: var(--buttoncolorhovor);
}

.close-btn:active {
    color: var(--buttoncolorselect);
}

.close-btn:focus {
    outline: 2px solid var(--bgcolor);
}

.hide{
    display: none;
}

@media screen and (min-width: 700px) {
    .pictures {
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
    }
}

@media screen and (min-width: 1000px) {
    .menu-btn {
        display: none;
    }
    nav {
        display:block;
    }
    .pictures {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hide {
        display: block;
    }
}